body {
	margin: 0;
	padding: 0;
	background-color: #ADADAD;
}

input[type='button'] {
	border: none;
	-webkit-appearance: none;
}

#div_remote_control {
	position: absolute;
	display: flex;
	height: calc(100% - 200px);
	background-color: #D8D8D8;
}

#antena_control {
	background-color: #494949;
	position: absolute;
}

#led {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background-color: #770000;
}

#led.on {
	background-color: #FF0000;
}

#login,
#logged,
#alerts {
	position: relative;
	display: block;
	height: 100%;
}

#btn_login {
	background-color: #1d709b;
}

#btn_ok,
#btn_yes,
#btn_no {
	background-color: #BBB;
	color: #525252;
}

#btn_ok:hover,
#btn_yes:hover,
#btn_no:hover {
	cursor: pointer;
	color: #FFF;
	background-color: #525252;
}

#btn_yes {
	width: 49% !important;
	float: right;
}

#btn_no {
	width: 49% !important;
	float: left;
}

#alert_msg span {
	display: block;
	font-family: Arial;
	font-size: 15pt;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#btn_login:hover {
	cursor: pointer;
	background-color: #124763;
}

#logged img {
	position: absolute;
	height: 100%;
	margin-left: 4.3%;
}

#icon_lock,
.icon {
	display: block;
	color: #FFF;
	width: 100% !important;
	height: 100%;
	text-align: center;
}

.container {
	width: 100%;
	position: relative;
}

.info-screen {
	width: 100%;
	height: 40%;
	display: block;
}

.info-screen.login,
.info-screen.question {
	background-color: #258FC6;
}

.info-screen.logged {
	background-color: #084B51;
}

.info-screen.error {
	background-color: #AF3535;
}

.info-screen.alert {
	background-color: #C5822f;
}

.btns {
	height: 35%;
	width: 100%;
}

.btn {
	width: calc(48%);
	height: 100%;
	background-color: #00A54B;
	display: inline-flex;
}

.btn:hover,
.btn-gates:hover {
	cursor: pointer;
	background-color: #00602B;
}

.btn-gates {
	width: 100%;
	background-color: #00A54B;
}

#btn_login,
.btn,
.btn-gates {
	color: #FFF;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	justify-content: center;
}